footer.footer
    p.footer__copyright &copy; itsyuimorii. Less is more 〰️
    ul.footer__nav 
        li:a(href='#') About
        li:a(href='#') Download apps
        li:a(href='#') Become a guide
        li:a(href='#') Careers
        li:a(href='#') Contact