footer.footer
    p.footer__copyright &copy; itsyuimorii. Less is more 〰️
    ul.footer__nav 
        li:a(class = "footer_li" href='#') About
        li:a(class = "footer_li" href='#') Download apps
        li:a(class = "footer_li" href='#') Become a guide
        li:a(class = "footer_li" href='#') Careers
        li:a(class = "footer_li" href='#') Contact