header.header
    .top-bar
        p.top-bar__text
            | Book now and get 20% discount, 
            a(href='#') download our APP to get the code

 

    nav.nav.nav--tours
        a.nav__el(href='#') ✶ All tours
        form.nav__search
            button.nav__search-btn
                svg
                    use(xlink:href='/img/icons.svg#icon-search')
            input.nav__search-input(type='text', placeholder='Search tours')
    nav.nav.nav--user
        //- a.nav__el(href='#') ✶ My bookings
        //- a.nav__el(href='#')
        //-     img.nav__user-img(src='img/user.jpg', alt='User photo', class='nav__user-img')
        //-     span itsyuimorii
        button.nav__el Log in
        button.nav__el.nav__el--cta Sign up
