doctype html
html
    head
        block head
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            link(rel='stylesheet', href='/css/style.css')
            link(rel='icon', type='image/png', href='/img/favicon.png')
            link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
            link(rel='preconnect', href='https://fonts.googleapis.com')
            link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
            link(href='https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@600..900&family=Bricolage+Grotesque:opsz,wght@100..400&family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap', rel='stylesheet')
            title TripSpark | #{title}
   


    body
 
        include _header
 
        block content
            h1 Hello world!

        include _footer

        script(src='/js/mapbox.js')
        script(src='/js/login.js')
        script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
