doctype html 
html 
    head 
        title= JapanEndlessTour
        link(rel='stylesheet', href='css/style.css')
        link(
            rel='icon', type='image/png', href='img/favicon.png') 
             


    body
        h1 JapanTourGuide
        p Welcome to JapanTourGuide

